<section class="jumbotron text-center bg-transparent">
  <div class="container">
    <h1>Amateur sports track</h1>
    <p class="lead text-muted">Let us help you track your sporting events. Registration, payments, announcements, schedules and scores.</p>
    <p>

      <a class='nav-item'><%= link_to 'Log in to see more', login_path, class: 'btn btn-primary my-2' %></a>

    </p>
  </div>
</section>